* {
    margin: 0;
}

body, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

#navbar {
    display: flex;
    background-color: #a2bee2;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
}

#navbar a:hover{
    color: navy;
    padding: 10px;
    background-color: white;
    transition: background-color width 0.3s none, height 0.3s none;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

#introduction {
    padding: 40px 80px;
}

#profile {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#text-profile {
    display: flex;
    flex-direction: column;
}


table, thead,tr, th, td {
    border-collapse: collapse;
    border: 3px solid rgb(18, 52, 136);
    padding-top: 20px;
    padding-bottom: 20px;
}

thead {
    color: #000080;
}

.contact {
    text-align: center;
    padding-top: 30px;
}

.contact-form {
    text-align: center;
    padding: 30px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 4px 15px #000080;
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 30px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus, form select:focus {
    border-color: #000080;
    outline: none;
}

form button {
    padding: 10px 20px;
    background-color: rgb(61, 98, 167);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: aqua;
    transform: scale(1.05);
}



